<div class="about-main">
  <h2>Yuritterとは</h2>
  <p>YuriがRailsを一から独学で学んで作ったTwitter的なWebアプリケーションです。</p>
  <p>デザインはProgateをそのまま使わせていただきました。</p>
  <p>こういうのってデザインの著作権とかひっかかるんですか？(ちょっとビビる)</p>
  <p>RelationshipモデルとUserモデルの1対多/多対多の関係が難しかったです。</p>
  <p>ところどころ無理やり作ったので定石通りじゃないと思います。</p>

  <div class="about-comment-item">
    <a>
    <ul>[課題]
      <li>1対多/多対多の関係</li>
      <li>ルーティング(patchやdelete,書き方)</li>
      <li>sassの勉強</li>
      <li>マイクロポストとは</li>
      <li>rememberとcookie</li>
      <li>ページネーションとは</li>
      <li>アカウントの有効化</li>
      <li>パスワード等のセキュリティの勉強</li>
      <li>環境系(デプロイ環境,デバッグ環境)</li>
    </ul>などなど...
  </div>
  </a>
</div>
