<%provide(:title, "About")%>
<div class="about-main">
  <h2>Yuritterとは</h2>
  <p>　私(Yuri)が一から独学で学んで作った初めてのWebアプリケーションです(拍手)。機能はTwitterのような感じです。
    最初にProgateのRubyとRuby on Railsを勉強して、RailsのMVCアーキテクチャとRestfulなルーティングを学び、3つのモデル(User,Post,Like)
    を中心とした機能を実装しました。RelationshipモデルはRuby on Rails Tutorialで勉強したことを盛り込んでいます。</p>
  <p>　Ruby on Rails Tutorialでは、より発展的で実践的な内容として、3つの環境(開発環境、テスト環境、本番環境)、
    セキュリティ、テスト駆動開発、リファクタリングなどを学びました。</p>

  <div class="about-comment-item">
    <a>
    <ul>[課題]
      <p>Nov. 2018</p>
      <li>form_tag→form_for→form_with</li>
      <li>remember me</li>
      <li>テスト全般(いつ、なにを、どうやって書くか)</li>
      <li>adminアカウント</li>
      <li>ページネーションとは</li>
      <li>Ajax</li>
      <p>Oct. 2018</p>
      <li>1対多/多対多の関係</li>
      <li>ルーティングの書き方</li>
      <li>sass</li>
      <li>remember meとcookie</li>
      <li>パスワード等のセキュリティの勉強</li>
      <li>環境系(デプロイ環境,デバッグ環境)</li>
    </ul>などなど...
    </a>
  </div>
</div>
